<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RulesListingWebapp | Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/bulma.css" />
    <link rel="stylesheet" href="/public/login_page.css" />
</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">RulesListingWebapp</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black">Please login to proceed.</p>
                    <div class="box">
                        <figure class="avatar">
                            <img class="is-rounded" src="../public/logo.png">
                        </figure>
                        <p class="is-medium">Application for checking wich application uses specific rules.</p>
                        <p class="is-small">Click "Login" to log in using Auth0 account.</p>
                    </div>
                            <a class="button is-block is-info is-large is-fullwidth" href="/login">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    </div>
                    <p class="has-text-grey">
                        <a href="https://github.com/noCR4SH/rules-listing-webapp">GitHub</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>